* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
}
.red {
  background-color: red;
}
.center {
  padding-left: calc(50% - 683px);
  padding-right: calc(50% - 683px);
}

.header {
  background-color: #2d2d44;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  padding: 30px;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head-title {
  text-transform: uppercase;
  color: #fff;
  padding-left: 20px;
}
.bold {
  font-weight: bold;
  padding-bottom: 20px;
}

.top-contacts {
  color: #fff;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 30px;
}
.yellow {
  color: yellow;
  font-size: 16pt;
  padding-top: 20px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Lato", sans-serif;
}

.url_head {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  padding: 15px;
}
.url_head:hover {
  font-size: 20px;
  color: #fff;
  background-color: #7c9fb0;
}

.menu {
  background: #fff;
  display: flex;
  justify-content: space-around;
}
.menu ul {
  list-style: none;
}
.menu li:hover {
  background-color: #7c9fb0;
}

.menu ul:after {
  content: "";
  display: table;
  clear: both;
}
.menu a {
  text-decoration: none;
  display: block;
  transition: 0.3s linear;
}
.topmenu > li {
  float: left;
  position: relative;
}
.topmenu > li:first-child {
  border-left: 0;
}
.topmenu > li > a {
  padding: 20px 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.9px;
}
.topmenu > li > a.active,
.submenu a:hover {
  color: #fff;
  background-color: #7c9fb0;
}

.submenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background: white;
  border-top: 1px solid #cbcbcc;
  border-left: 1px solid #cbcbcc;
  border-right: 1px solid #cbcbcc;
  visibility: hidden;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
}
.submenu li {
  position: relative;
}
.submenu li a {
  color: #282828;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #cbcbcc;
}
.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: 0.3s linear;
}
.menu li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}

.content {
  background: url(./img/head.jpg);
  background-size: 100% 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}
.block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(40, 40, 40, 0.51);
  padding: 50px;
}
.head-content {
  text-transform: uppercase;
  color: #fff;
}

.h1 {
  font-size: 36px;
  line-height: 1.19047619;
  text-transform: uppercase;
}

.h2 {
  font-size: 30px;
  line-height: 1.19047619;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.content-dsc {
  color: #fff;
  font-size: 16px;
  line-height: 1.19047619;
  padding-bottom: 10px;
}
.block-grid {
  padding-top: 30px;
}
.teacher-1,
.teacher-12,
.teacher-6 {
  border: solid 20px #7c9fb0;
}
.teacher-2,
.teacher-9,
.teacher-8 {
  border: solid 20px #9abf88;
}
.teacher-3,
.teacher-10,
.teacher-12 {
  border: solid 20px #5698c4;
  background-color: #5698c4;
}
.teacher-4,
.teacher-7 {
  border: solid 20px #e4bf80;
}
.teacher-5,
.teacher-11 {
  border: solid 20px #c94a53;
}

.img-teacher {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  background: #2b373d;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.footer-head {
  line-height: 1.19047619;
  text-transform: uppercase;
  color: #c94a53;
  font-size: 16pt;
  text-decoration: none;
}

.footer-title {
  line-height: 1.19047619;
  text-transform: uppercase;
  color: #fff;
  font-size: 14pt;
}

.footer li {
  list-style: none;
}

.footer li a {
  /* color: #7c9fb0; */
  color: #8eb6c9;
  /* color: #58717d; */
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
}

.footer li a:hover {
  color: #c94a53;
}

.footer-link {
  display: flex;
  gap: 30px;
  padding: 20px 0;
}

.copyright {
  color: #58717d;
}
.copyright a {
  text-decoration: none;
  color: #58717d;
}
.copyright a:hover {
  color: #c94a53;
}

.footer-map {
  width: 600px;
  height: 450px;
}

/* Настройки эфекта для блока преподавателей */
.hover-effect-cover {
  display: grid;
  grid-template-columns: repeat(4, 180px);
  grid-template-rows: repeat(3, 180px);
  gap: 40px;
  list-style: none;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
.hover-effect-cover .block-teach {
  position: relative;
  width: 100%; /* Задаем ширину элемента списка с картинкой*/
  height: 100%;
  object-fit: cover;
  display: inline-block;
  background-color: #fff;
  border: 5px solid #fff;
  box-shadow: 1px 3px 1px 0 rgba(0, 0, 0, 0.08);
  overflow: hidden;
}
/* Заголовок, текст и ссылка */
.hover-effect-cover .block-teach .position {
  color: #fff;
  margin: 2px;
}
.hover-effect-cover .block-teach .name {
  color: #fff;
  margin: 5px;
  font-size: 22px;
}
/* ссылка по умолчанию */
.hover-effect-cover .block-teach a {
  display: block;
  text-decoration: none;
  padding: 15px;
  color: #fff;
  background: #000;
  border-radius: 5px;
  margin: 0 auto;
  transition: all 0.4s ease-in-out;
}
/* ссылка при наведении */
.hover-effect-cover .block-teach a:hover {
  background: #b90909;
  color: #fff;
}
/* Выезжающий блок с текстом для панели */
.hover-effect-cover .block-teach > div.effect {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hover-effect-cover .block-teach:hover > div.effect {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
.hover-effect-cover .block-teach div.effect {
  opacity: 0;
  background-color: rgba(45, 45, 68, 0.8); /* Фон блока при наведении */
  transition: all 0.3s ease-in-out;
  color: #fff;
  transform: translate(1250px, 0px) rotate(0deg); /* Направление выезжающей панели */
}
.hover-effect-cover .block-teach:hover div.effect {
  opacity: 1;
  transform: translate(0px, 0px) rotate(0deg);
}

@media (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  .url_head {
    font-size: 18px;
  }
  .url_head:hover {
    font-size: 18px;
  }
  .h1 {
    font-size: 32px;
  }

  .h2 {
    font-size: 26px;
  }
  .hover-effect-cover {
    display: grid;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: repeat(4, 180px);
  }
}
@media (max-width: 767px) {
  body {
    font-size: 12px;
  }
  .url_head {
    font-size: 16px;
  }
  .url_head:hover {
    font-size: 16px;
  }
  .h1 {
    font-size: 30px;
  }

  .h2 {
    font-size: 24px;
  }

  .header {
    background-color: #2d2d44;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menu {
    justify-content: flex-start;
  }
  .topmenu > li {
    float: none;
  }
  .topmenu > li > a {
    padding: 10px 10px;
  }
  .submenu li a {
    padding: 10px 10px;
  }
  .submenu {
    display: none;
  }
  .footer {
    flex-direction: column;
  }
  .hover-effect-cover {
    display: grid;
    grid-template-columns: repeat(2, 180px);
    grid-template-rows: repeat(6, 180px);
  }
}
