* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
}

.center {
  padding-left: calc(50% - 683px);
  padding-right: calc(50% - 683px);
}

.header {
  background-color: #2d2d44;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  padding: 30px;
}
.header-left {
  display: flex;
  align-items: center;
}
.header-txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.head-title {
  text-transform: uppercase;
  color: #fff;
  padding-left: 20px;
}
.bold {
  font-weight: bold;
  padding-bottom: 20px;
}

.top-contacts {
  color: #fff;
}

.header-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding-right: 30px;
}
.yellow {
  color: yellow;
  font-size: 16pt;
  padding-top: 20px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Lato", sans-serif;
}

.url_head {
  text-decoration: none;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
  padding: 15px;
}
.url_head:hover {
  font-size: 20px;
  color: #fff;
  background-color: #7c9fb0;
}

.menu {
  background: #fff;
  display: flex;
  justify-content: space-around;
}
.menu ul {
  list-style: none;
}
.menu li:hover {
  background-color: #7c9fb0;
}

.menu ul:after {
  content: "";
  display: table;
  clear: both;
}
.menu a {
  text-decoration: none;
  display: block;
  transition: 0.3s linear;
}
.topmenu > li {
  float: left;
  position: relative;
}
.topmenu > li:first-child {
  border-left: 0;
}
.topmenu > li > a {
  padding: 20px 20px;
  font-size: 12px;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.9px;
}
.topmenu > li > a.active,
.submenu a:hover {
  color: #fff;
  background-color: #7c9fb0;
}

.submenu {
  position: absolute;
  z-index: 5;
  min-width: 200px;
  background: white;
  border-top: 1px solid #cbcbcc;
  border-left: 1px solid #cbcbcc;
  border-right: 1px solid #cbcbcc;
  visibility: hidden;
  opacity: 0;
  transform-origin: 0% 0%;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
}
.submenu li {
  position: relative;
}
.submenu li a {
  color: #282828;
  padding: 10px 20px;
  font-size: 13px;
  border-bottom: 1px solid #cbcbcc;
}
.submenu .submenu {
  position: absolute;
  left: 100%;
  top: -1px;
  transition: 0.3s linear;
}
.menu li:hover > .submenu {
  transform: rotateX(0deg);
  visibility: visible;
  opacity: 1;
}

.content {
  background: url(./img/head.jpg);
  background-size: 100% 100%;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 50px;
}
.block-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(40, 40, 40, 0.51);
  padding: 50px;
}
.head-content {
  text-transform: uppercase;
  color: #fff;
}

.h1 {
  font-size: 36px;
  line-height: 1.19047619;
  text-transform: uppercase;
}

.h2 {
  font-size: 30px;
  line-height: 1.19047619;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.content-dsc {
  color: #fff;
  font-size: 16px;
  line-height: 1.19047619;
  padding-bottom: 10px;
}
.block-grid {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, 180px);
  grid-template-rows: repeat(3, 180px);
  gap: 40px;
}
.teacher-1,
.teacher-12,
.teacher-6 {
  border: solid 20px #7c9fb0;
}
.teacher-2,
.teacher-9,
.teacher-8 {
  border: solid 20px #9abf88;
}
.teacher-3,
.teacher-10,
.teacher-12 {
  border: solid 20px #5698c4;
  background-color: #5698c4;
}
.teacher-4,
.teacher-7 {
  border: solid 20px #e4bf80;
}
.teacher-5,
.teacher-11 {
  border: solid 20px #c94a53;
}
.name,
.position {
  overflow: hidden;
}
.name:hover,
.position:hover {
  overflow: inherit;
}

.img-teacher {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.footer {
  background: #2b373d;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.footer-head {
  line-height: 1.19047619;
  text-transform: uppercase;
  color: #c94a53;
  font-size: 16pt;
  text-decoration: none;
}

.footer-title {
  line-height: 1.19047619;
  text-transform: uppercase;
  color: #fff;
  font-size: 14pt;
}

.footer li {
  list-style: none;
}

.footer li a {
  /* color: #7c9fb0; */
  color: #8eb6c9;
  /* color: #58717d; */
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.2s;
}

.footer li a:hover {
  color: #c94a53;
}

.footer-link {
  display: flex;
  gap: 30px;
  padding: 20px 0;
}

.copyright {
  color: #58717d;
}
.copyright a {
  text-decoration: none;
  color: #58717d;
}
.copyright a:hover {
  color: #c94a53;
}

.footer-map {
  width: 600px;
  height: 450px;
}
